# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/

# Env
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml